@model InternetShop.Models.UserModels

@{
    ViewBag.Title = "Новый пользователь";
}
<h2>Новый пользователь</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true)
        <div>
            @Html.LabelFor(model => model.UserName)
            <div>
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Email)
            <div>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.Password)
            <div>
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div>
            <input type="submit" value="Добавить" />
        </div>
    </div>
}
<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}